.App {
  background-color: #282c34;
  min-height: 100vh;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 90vh;
  display: flex;
  flex-direction: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.Compony-name {
  position: absolute;
  /* top: 0px; */
  color: Red;
  font-family: "Times New Roman";
  padding-left: 100px;
  font-size: 50px;
  text-align: left;
  /* background-color: blue; */
}

/* .Pie {
  padding: 100px;
} */

.Spacer {
  color: transparent
}
