.App {
  width: 100%;
}


.App-header {
  background-color: #282c34;
  top:5vh;
  min-height: 100vh;
  display: flex;
  flex-direction: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  max-width: 250vh;
  width: 100%;
  
}

.Compony-name {
  position: absolute;
  color: Red;
  font-family: "Times New Roman";
  padding-left: 100px;
  font-size: 50px;
  text-align: left;
}

Form {
  width: 500px;
  right: 100px;
  position: relative;
  color:white;
  font-size: calc(10px + 2vmin);
}

canvas {
  max-width: 500px;
  position: relative;
  right: 250px;
}

.RandomChoice {
  position: absolute;
  right: 180px;
  width: 200px;
  height: 200px;
}
